@import url('styles.css');

.container {
    text-align: center;
    margin-top: 20px;

}

#category-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); 
    grid-template-rows: auto;
    gap: 15px;
    padding: 20px;
    list-style-type: none;
    width: 100%;
}

#category-list li {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--categories-bg);
    color: var(--categories-text);
    text-shadow: 1px 1px 2px var(--categories-shadow);
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.562);
    font-size: 100%;
    font-weight: bolder;
}

#category-list li:hover {
    transform: scale(1.05);
    /* Añade un pequeño efecto de zoom */
}

#category-search {
    width: 80%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
    border: 1px solid #ccc;
    font-size: 20px;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, Liberation Sans, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
}

#random-category {
    color: #e60707;
    
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: var(--modal-bg);
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.close {
    cursor: pointer;
    float: right;
    font-size: 20px;
}
