@import url('styles.css');

#draft-setup,
#draft,
#results {
    text-align: center;
    margin-top: 20px;
}

#rounds-info {
    text-align: center;
    font-size: 20px;
    margin-top: 15px;
    font-weight: bold;
    color: var(--h-text);
}

#participants {
    width: 70px;
}

#rounds {
    width: 70px;
}
#character-list {
    display: grid;
    grid-template-columns: repeat(6, 1fr); 
    gap: 20px;
    font-size: 20px;
    overflow-y: auto;
    padding: 10px;
}


.character-item.selected {
    background-color: #cce5ff;
    transform: scale(1.05);
}

.character-item {
    position: relative;
   
    background-color: white;
    border-radius: 10px;
    text-align: center;
    padding: 5px;
    
}

.character-item img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 10px;
    transition: filter 0.3s ease; /* Transición para el difuminado */
    
}

.character-item p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centra el texto */
    color: white;
    text-shadow: 2px 2px 4px #000000;
    padding: 10px;
    border-radius: 5px;
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 2; /* Asegura que esté sobre la imagen */
    
}

.character-item:hover{
    transform: scale(1.05);
}
.character-item:hover img {
    filter: blur(5px); /* Aplica un difuminado a la imagen */
}

.character-item:hover p {
    opacity: 1; /* Hace visible el texto */

}

/* Responsive Design */
@media (max-width: 1200px) {
    #character-list {
        grid-template-columns: repeat(5, 1fr);
        gap: 15px;
        font-size: 18px;
    }
}

@media (max-width: 992px) {
    #character-list {
        grid-template-columns: repeat(4, 1fr);
        gap: 15px;
        font-size: 16px;
    }
}

@media (max-width: 768px) {
    #character-list {
        grid-template-columns: repeat(3, 1fr);
        gap: 15px;
        font-size: 16px;
    }
    
    .character-item {
        padding: 3px;
    }
    
    .character-item p {
        font-size: 14px;
        padding: 5px;
    }
    
    #rounds-info {
        font-size: 16px;
    }
}

@media (max-width: 480px) {
    #character-list {
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        font-size: 14px;
    }
    
    .character-item p {
        font-size: 12px;
        padding: 3px;
    }
    
    #rounds-info {
        font-size: 14px;
    }
}
