@import url('styles.css');
/* Contenedor principal del juego */
#fuckmarrykill-game {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

/* Contenedor de personajes */
#characters-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap; 
    margin-top: 20px;
}

/* Tarjeta de personaje */
.character-card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: 10px;
    transition: transform 0.2s;
    cursor: pointer;
}

/* Imagen del personaje */
.character-card img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
    
    transition: filter 0.3s ease;
}

/* Botones de acción */
.action-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

.action-button {
    padding: 5px 10px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.action-button[data-action="fuck"],.action-button[data-action="starter"] {
    background-color: #ff6666;
    color: white;
}

.action-button[data-action="marry"] ,.action-button[data-action="benched"]{
    background-color: #66cc66;
    color: white;
}

.action-button[data-action="kill"],.action-button[data-action="cut"] {
    background-color: #6666cc;
    color: white;
}

.action-button:disabled {
    background-color: #ccc;
    color: #666;
    cursor: not-allowed;
}

.action-selected {
    margin: 10px;
    font-weight: bold;
    
}


.character-card h3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centra el texto */
    color: white;
    text-shadow: 2px 2px 4px #000000;
    padding: 10px;
    border-radius: 5px;
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 5; /* Asegura que esté sobre la imagen */
    
}

.character-card:hover{
    transform: scale(1.05);
}
.character-card:hover img {
    filter: blur(5px); /* Aplica un difuminado a la imagen */
}

.character-card:hover h3 {
    opacity: 1; /* Hace visible el texto */

}