@import url('styles.css');


#mode-buttons {
    display: grid;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

#mode-selection {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

#mode-selection button {
    margin: 10px;
    padding: 10px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

#mode-selection button:hover {
    background-color: #45a049;
}

#category-name {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
 
}

/* Responsive Design */
@media (max-width: 768px) {
    #mode-buttons {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }
    
    #mode-selection button {
        font-size: 14px;
        padding: 8px;
        margin: 8px;
    }
    
    #category-name {
        font-size: 16px;
    }
}

@media (max-width: 480px) {
    #mode-buttons {
        grid-template-columns: 1fr;
    }
    
    #mode-selection button {
        font-size: 12px;
        padding: 6px;
        margin: 5px;
    }
    
    #category-name {
        font-size: 14px;
    }
}
