@import url('styles.css');

/* Sección principal del juego */
#mysterytop-game {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#mysterytop-setup {
    text-align: center;

}

/* Estilo para el personaje actual */
#current-character {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 20%;
}

#character-image {
    object-fit: contain; /* Ajusta la imagen correctamente */
    max-width:50%;
    margin-bottom: 10px;
}

#character-name {
    font-size: 20px;
    font-weight: bold;
}

/* Estilo para los tops de los jugadores */
#players-tops {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; /* Permite que las columnas salten de línea si no caben */
    gap: 20px;
    width: 100%; /* Asegura que ocupe el espacio completo */
    margin-top: 20px;
}

/* Cada top individual */
.player-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    max-width: 25%;
}


/* Lista de posiciones en el top */
.player-top ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
    width: 100%;
}

.player-top li {
    margin: 5px 0;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}


.player-top li img {
    object-fit: contain;
    border-radius: 5px;
    margin: 10px;
    width: 100%;
    max-width: 50%;
}

/* Responsive Design */
@media (max-width: 768px) {
    #current-character {
        max-width: 50%;
    }
    
    #character-image {
        max-width: 80%;
    }
    
    #character-name {
        font-size: 16px;
    }
    
    #players-tops {
        gap: 15px;
    }
    
    .player-top {
        max-width: 40%;
    }
    
    .player-top li {
        font-size: 14px;
        gap: 10px;
    }
    
    .player-top li img {
        max-width: 40%;
    }
}

@media (max-width: 480px) {
    #current-character {
        max-width: 80%;
    }
    
    #character-image {
        max-width: 100%;
    }
    
    #character-name {
        font-size: 14px;
    }
    
    #players-tops {
        flex-direction: column;
        gap: 10px;
    }
    
    .player-top {
        max-width: 100%;
    }
    
    .player-top li {
        font-size: 12px;
        gap: 5px;
    }
    
    .player-top li img {
        max-width: 30%;
    }
}